{% extends "header.html" %}
{% block body %}
<br>
<h3 align='center'>Terms of Use</h3>
<br>
<p>Student  Grade is used to store the student Internal marks like Mid marks and Lab marks.
    It must be accessible to the limited Faculty memebers of different depatments of a college.</p>
<br>
<p>The login Id and password will be given by the admin and he will have access to add/delete an user
</p>
<br>
<h4>Student:</h4>
<br>
<p>Student tab is used to add ,delete and view students which are stored.
    In the student tab some fields are optional but you must fill all the fields during adding and deleting an student.In other cases those are optional
    </p>
    <br>
<h4>Marks:</h4>
<br>
<p>
	Marks tab is used to store the marks gained by the student in a subject.Make sure that you have stored that subject previously.It also have Regd.No as optional field but it is compulsory when we modify marks as modify marks is used for modification of marks of a particular student.
</p>
<br>
<h4>Subject:</h4>
<br>
	<p>Subject tab is used to add or delete subjects  or view subjects.It has one optional field(subject name) but it is compulsory during adding and deleting subjects.</p>
<br>
<p>Please make sure that you have properly understand usage of Student Grade . If there is an issue please <a href='mailto:narayanamurthy.gidugu@gmail.com'>contact</a> us.</p></p>
{% endblock %}
