{% extends "header.html" %}
{% block body %}
{% if data %}
  
  <form action='{{ url_for("upload")}}' method="POST">
  <br>

  <h3 align='center'>Upload Marks</h3>
  <br>
  <table align='center'  cellpadding="10" cellspacing="5">

  <div>

  <td> <label class="my-1 col-sm-5" for="inlineFormCustomSelectPref">Subject</label></td> 
   <td> <select class="custom-select my-1 " id="inlineFormCustomSelectPref" name='sub'>
    <option selected>Choose...</option>
    {% for i in sub %}

    <option value={{i[0]}}>{{i[0]}}</option>
    {% endfor %}

    </select></td>
    </div>
  <br>
  {% for row in data[2:] %}

    
        
          {% for d in row %}
          <tr>
              <td> <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" id="staticroll" value= {{ d[0] }}>
          </div></td>  
          <td>
          <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name= {{ d[0] }} placeholder="Enter Marks">

          </div>
      </td>
          </tr>
          {% endfor %}
          </table>
  {% endfor %}
  <br>
  <button style="margin-left:400px" type="submit" class="btn btn-primary">Submit</button>

  </form>
{% else %}
<br>
<br>
<h3 align='center'>No data is available</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endif %}
{% endblock %}
