{% extends "header.html" %}
{% block body %}
<br>
{%if data%}
<form action= "{{url_for('download')}}"method="GET">
<table align='center' border="2" cellpadding="10" cellspacing="5">
        {% for row in data %}
        
            <tr>
            {% for d in row %}
              <td>{{ d  }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            {% endfor %}
            
            </tr>
        {% endfor %}
    </table>
{%if down%}
<br>
<button style="margin-left: 300px" class="btn btn-primary">Download</button>
{%endif%}
</form>
{%else%}
<br>
<br>
<h3 align='center'>No data is available</h3>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{%endif%}
{% endblock %}
